{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="today-date">
        <h1>{{ today }}</h1>
    </div>

    <div class="" id="">
        <form action="/hobby" method="post">
            <input type="hidden" id="hidArchive" name="archive" value="true">
                {% for item in hobbies %}
                    <button class="wide-button" type="submit" name=hobby value={{ item }}>{{ item }}</button>
                {% endfor %}
        </form>
    </div>
    <div>
        <form action="/" method="post">
            <button type="submit" class="wide-button-arch" name="active">Active</button>
        </form>
    </div>
{% endblock %}